.graphArea
  display: flex

.dataArea
  overflow-x: scroll

.namesArea
  position: sticky
  width: 200px

.personName
  white-space: nowrap

.monthesArea
  display: flex

.monthName
  text-align: center

.datesArea
  white-space: nowrap
  display: flex

.dateName
  text-align: center

.vacationLine
  white-space: nowrap
  display: flex
  height: 18px

.dayOff
  background-color: blue

.greyBorder
  border: 1px solid grey
  box-sizing: border-box
