@import object-managment
@import infotable
@import vacation-managment

$font-stack:    Helvetica, sans-serif
$header-color: #0f5919
$primary-color: #002806

body
  font: 100% $font-stack
  color: $primary-color

.header
  border-bottom: 1px solid #a39389
  color: $header-color
  font-style: italic

#container
  min-height: 100vh
  width: 100%

.mainPanel, .main
  padding: 20px
  display: flex
  white-space: nowrap

.controlButton
  width: 200px
  height: 50px
  padding-top: 25px
  text-decoration: none
  text-align: center
  border: none
  font-weight: bold
  color: #f5f5f5
  background-color: #89f77b
  background-image: linear-gradient(to top right, #89f77b 0% ,#004500 100%)
  box-shadow: 1px 0px 2px #bababa, inset 0px 0px 1px #ffffff
  margin: 5px
  cursor: pointer

.controlButton.popupButton
  padding-top: 8px

.submitButton
   text-decoration: none
   text-align: center
   padding: 5px
   border: none
   font-weight: bold
   color: #f5f5f5
   background-color: #89f77b
   background-image: linear-gradient(to top right, #89f77b 0% ,#004500 100%)
   box-shadow: 1px 0px 2px #bababa, inset 0px 0px 1px #ffffff
   cursor: pointer

.popup
  opacity: 0
  transform: scale(.1)
  transform-origin: center center
  transition: top .1s, left .1s, transform .1s, opacity .1s
  transition-timing-function: ease-in

.popedUp
  opacity: 1
  position: absolute
  background-image: radial-gradient(#018413,#02440b)
  padding: 10px
  color: white
  transform: scale(1)

.formControl
  margin: 15px
  padding: 10px

.sortMethod
  border-bottom: 1px solid #a39389
  width: 194px

#sortValue
  cursor: pointer
  background-color: green
  border-radius: 50%
  color: white
  margin-left: 10px
  font-size: 20px
