.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.controlArea {
  width: 40%; }

.objectInfo {
  width: 40%; }

.deleteObject, .editObject {
  cursor: pointer; }

.checkBox {
  cursor: pointer; }

.graphArea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.dataArea {
  overflow-x: scroll; }

.namesArea {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: white; }

.personName {
  white-space: nowrap; }

.monthesArea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.monthName {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.datesArea {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.dateName {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.vacationLine {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 18px; }

.blueCell {
  background-color: blue; }

.greyBorder {
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.correctCalendar {
  color: green; }

body {
  font: 100% Helvetica, sans-serif;
  color: #002806; }

.header {
  border-bottom: 1px solid #a39389;
  color: #0f5919;
  font-style: italic; }

#container {
  min-height: 100vh;
  width: 100%; }

.mainPanel, .main {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap; }

.controlArea {
  white-space: normal; }

.controlButton {
  width: 200px;
  height: 50px;
  padding-top: 25px;
  text-decoration: none;
  text-align: center;
  border: none;
  font-weight: bold;
  color: #f5f5f5;
  background-color: #89f77b;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#89f77b), to(#004500));
  background-image: -webkit-linear-gradient(bottom left, #89f77b 0%, #004500 100%);
  background-image: -o-linear-gradient(bottom left, #89f77b 0%, #004500 100%);
  background-image: linear-gradient(to top right, #89f77b 0%, #004500 100%);
  -webkit-box-shadow: 1px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
          box-shadow: 1px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  margin: 5px;
  cursor: pointer; }

.controlButton.popupButton {
  padding-top: 8px; }

.submitButton {
  text-decoration: none;
  text-align: center;
  padding: 5px;
  border: none;
  font-weight: bold;
  color: #f5f5f5;
  background-color: #89f77b;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#89f77b), to(#004500));
  background-image: -webkit-linear-gradient(bottom left, #89f77b 0%, #004500 100%);
  background-image: -o-linear-gradient(bottom left, #89f77b 0%, #004500 100%);
  background-image: linear-gradient(to top right, #89f77b 0%, #004500 100%);
  -webkit-box-shadow: 1px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
          box-shadow: 1px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  cursor: pointer; }

.popup {
  opacity: 0;
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: top .1s, left .1s, opacity .1s, -webkit-transform .1s;
  transition: top .1s, left .1s, opacity .1s, -webkit-transform .1s;
  -o-transition: top .1s, left .1s, transform .1s, opacity .1s;
  transition: top .1s, left .1s, transform .1s, opacity .1s;
  transition: top .1s, left .1s, transform .1s, opacity .1s, -webkit-transform .1s;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in; }

.popedUp {
  opacity: 1;
  position: absolute;
  background-image: -webkit-radial-gradient(#018413, #02440b);
  background-image: -o-radial-gradient(#018413, #02440b);
  background-image: radial-gradient(#018413, #02440b);
  padding: 10px;
  color: white;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.formControl {
  margin: 15px;
  padding: 10px; }

.sortMethod {
  border-bottom: 1px solid #a39389;
  display: inline-block; }

#sortValue {
  cursor: pointer;
  background-color: green;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: white;
  margin-left: 10px;
  font-size: 20px; }

table {
  table-layout: fixed;
  border-collapse: collapse; }

.col1 {
  width: 200px; }
